@model IEnumerable<DAL.Equipment>
@{
    ViewBag.Title = "Equipment List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            @Html.DisplayName("Images")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentCost)
        </th>

    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelitem => item.EquipmentName)
    </td>
    <td>
        <img src="/UploadImage/@item.EquipmentFilename" alt="No Image" height="250px" width="250px"/>
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.EquipmentCost)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentID }) 

    </td>
</tr>


}


</table>

